.cabecalho {
    border: solid  1px;
    padding: 20px;
    margin: 20px;
    margin-bottom: 10px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

#saudacao {
    border: solid 1px;

}
#nome-usuario { 
    border: solid 1px;
}

main {
    border: solid 1px;
}
/*
colunas exatamente iguais, o ideal é:
.cabecalho {
    display: flex;
}

.cabecalho span {
    flex: 1;
}
    ou

    .cabecalho {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
*/
nav {
    border: solid 1px;
    padding: 20px;
    margin: 50px;
}

section {
    border: solid 1px;
    padding: 20px;
    margin: 50px;
}
#tempo {
    border: solid 1px;
}

#relogio {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

/*
.task {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 10px;
    margin: 10px 0;

    background: #ddd;
    border-radius: 20px;
}

.task label {
    flex: 1;
    margin-left: 10px;
}

.excluir {
    border: none;
    background: transparent;
    cursor: pointer;
}
*/

.task {
    display: flex;
    align-items: center;
    /*ustify-content: space-between;*/

    padding: 10px;
    margin: 10px 0;

    background: #ddd;
    border-radius: 20px;
}

.task label {
    flex: 1;
    margin-left: 10px;
}

.excluir {
    border: none;
    background: transparent;
    cursor: pointer;
}